.all_genres-list {
    position: relative;
    padding-right: 130px !important;
    width: 75vw;
}

.all_genres-list::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    z-index: 10;
    pointer-events: none;
}

.all_genres-list::after {
    right: -10px;
    width: 200px;
    background: linear-gradient(
            to left,
            oklch(0.19 0.0122 225.96) 0%,
            oklch(0.19 0.0122 225.96) 70%,
            transparent 100%
    );
}

.all_genres-list .swiper-button-nav {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 10px;
}

.all_genres__prev, .all_genres__next {
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 16px;
    background-image: url('../../../public/right-arrow.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    @apply bg-(--interactive)
}

.all_genres__prev {
    transform: rotate(180deg);
}